# List of folders & file names/extensions to be ignored by the git repository.
!private/
!build/
!debug/
!THV_MPLAB.X/
src/stdbool.h
src/stdint.h
src/pic18f25k80.h

PTE_Interface_Panel.X/funclist
PTE_Interface_Panel.X/l.obj
PTE_Interface_Panel.X/build
PTE_Interface_Panel.X/dist
PTE_Interface_Panel.X/nbproject/*