# List of folders & file names/extensions to be ignored by the git repository.
!private/
!build/
!debug/
!THV_MPLAB.X/
src/stdbool.h
src/stdint.h
src/pic18f66k22.h

Hygrometer.X/funclist
Hygrometer.X/l.obj
Hygrometer.X/build
Hygrometer.X/dist
Hygrometer.X/nbproject/*